<header>
    <nav class ="header-nav">
        <a  class="header-title" href="/">VueLearnerResource</a>

        <ul>
            <li class="header-link"><a href="/login">Login</a></li>
            <li class="header-link"><a href="/register">Register</a></li>
            <li class="header-link"><a href="/dashboard">Dashboard</a></li>
            <li class="header-link"><a href="/dashboard/new">Upload Video</a></li>
            <li class="header-link"><a href="/bursaries">Bursaries</a></li>
            <li class="header-link"><a href="/bursaries/new">Upload Bursaries</a></li>
            <li class="header-link"><a href="/resourceShare">Share Resources</a></li>
        </ul>
    </nav>
</header>