<h2 class="page-header">New Resources</h2>
<form action="/dashboard" method="POST">

<%- include('form_fields') %>

<br>
<br>

<div class="form-row resource-buttons">

<a class="btn btn-primary" href="/dashboard">Cancel</a>
<button class="btn btn-primary" type="submit">Create</button>
 </div>
</form>