<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/filepond@4.0.0/dist/filepond.min.css" rel="stylesheet">

    <link rel="stylesheet" href ="/stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet">

    
    <title>VueLearnerResources</title>
</head>
<body>
    <div class ="container">
        <br>
        <%- include('../partials/header.ejs') %>
        <div class ="inner-container">
            <%- body %>
            <br>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/filepond@4.0.0/dist/filepond.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>


    <script>

        FilePond.registerPlugin(
        FilePondPluginImagePreview, 
        FilePondPluginImageResize,  
        FilePondPluginFileEncode    
    );
        // Initialize FilePond for the cover image input
        FilePond.create(document.querySelector('#cover'), {
        allowImagePreview: true,        
        imagePreviewHeight: 200,        
        imagePreviewWidth: 200,         
        acceptedFileTypes: ['image/*'], 
        maxFileSize: '5MB',             
        imageResizeTargetWidth: 400,    
        imageResizeTargetHeight: 400,   
        fileEncode: true,
        });
    </script>

<style>
    .filepond--root {
        width: 150px; /* Adjust the width */
        height: 150px; /* Height adjusts based on content */
    }
    .filepond--panel {
        height: 200px; /* Adjust panel height */
    }
</style>
</body>
</html>