<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/filepond@4.0.0/dist/filepond.min.css" rel="stylesheet">

    <link rel="stylesheet" href ="/stylesheets/main.css">
    <title>VueLearnerResources</title>
</head>
<body>
    <div class ="container">
        <br>
        <%- include('../partials/header.ejs') %>
        <div class ="inner-container">
            <%- body %>
            <br>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/filepond@4.0.0/dist/filepond.min.js"></script>

    <script>
        // Initialize FilePond for the cover image input
        FilePond.create(document.querySelector('#cover'), {
            allowImagePreview: true,
            imagePreviewHeight: 300,
            imagePreviewWidth: 300,
            acceptedFileTypes: ['image/*'],
            maxFileSize: '5MB',
        });
    </script>
</body>
</html>