<h2 class="page-header">Latest Resources</h2>
    <ul>
        <% resources.forEach(resource => { %>
            <li>
                <a href="<%= resource.link %>"><%= resource.title %></a>
            </li>
        <% }) %>
        </ul>
