* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 600px;
    height: 360px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    overflow: hidden;  /* Prevents the overlay from going out of bounds */
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgb(0, 192, 218)); /* Fixed gradient syntax */
    z-index: 1; /* Ensure it is behind the content of the card */
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
}

.card img{
    width:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
   
}

.card .info{
    position: relative;
    z-index:3;
    color:fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity:1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
    color: #fff;

}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff;
}