.video-list .video-card .thumbnail{
    width: 100%;
    border-radius: .5rem;;
    aspect-ratio: 16 / 9;
}
.video-list .video-card .thumbnail-container{
    position: relative;
}
.video-list .video-card {
    text-decoration: none;
    color: var(--color-btn-primary-text);
}

.title{
    font-size: 20px;
}
.video-list .video-card .title:hover{
    color: rgb(0, 0, 0);
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.vid-summary{
    font-size: 14px;
}

.video-list{
    display:grid;
    gap: 1rem;
    padding: 1.25rem 0 4rem;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
}

/* Define the slide-in animation */
@keyframes slideIn {
    from {
      transform: translateY(50px); /* Start from below the screen */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Initially hide the elements off-screen */
  .video-card {
    opacity: 0;
    transform: translateY(50px); /* Position them below the screen */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
 /*a class to trigger the animation*/
  .video-card.is-visible {
    opacity: 1;
    transform: translateY(0); /* Bring them into the viewport */
  }
  
  .video-card:nth-child(odd) {
    animation-delay: 0.2s;
  }
  
  .video-card:nth-child(even) {
    animation-delay: 0.4s;
  }
  