<h2 class="page-header">Edit Bursary</h2>
<form action="/bursaries/<%= bursary.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

<%- include('form_fields') %>

<br><br>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/bursaries">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</div>

 
</form>