<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= bursary.title %>" required>
        <br><br>
    </div>

    <div class="form-item">
        <label>Link</label>
        <input type="text" name="link" value="<%= bursary.link %>" required>
        <br><br>
    </div>
</div>

<div class="form-row">

    <div class="form-item form-item-no-grow">
        <label for="cover">Cover Image</label>
        <input type="file" name="cover" id="cover" class="filepond" required>
        <br><br>
    </div>
    


    <div class="form-item">
        <label>Description</label>
        <textarea name="description" required><%= bursary.description %> </textarea>
        <br><br>

    </div>
</div>