<div>
<label>Cover</label>
<!-- File input to upload an image -->
<input type="file" name="cover">
</div>
<br><br>


<label>Title</label>
<input type="text" name="title" value="<%= bursaries.title %>">
<br><br>

<div>
<label>Description</label>
<textarea name="description"><%= bursaries.description %> </textarea>
<br><br>
</div>

<label>Link</label>
<input type="text" name="link" value="<%= bursaries.link %>">
<br><br>

