<h2 class="page-header">Add New Bursary</h2>
<form action="/bursaries" method="POST" enctype="multipart/form-data">

<%- include('form_fields', {bursary: {} }) %>

<br><br>

<a href="/bursaries">Cancel</a>
<button type="submit">Create</button>
 
</form>